@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rosarivo:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --warnaGelap: #0f0529;
    --warnaIndigo: #4d067b;
    --warnaGrapes: #7209b7;
    --warnaLavender: #b984db;
    --warnaGold: #e2bd6b;
    --warnaVanilla: #f8e2d4;
}

body {
    height: 100vh;
    background: url(./aset/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

ul {
    list-style: none;
}

ul li:first-child {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--warnaGold);
    font-size: 1.25rem;
    transition: ease-in-out 0.2s;
}

a:hover {
    color: var(--warnaVanilla);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0 0.6px 1.6px var(--warnaIndigo);
    position: relative;
}

.logo a {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-family: "Rosarivo", cursive;
}

.links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.toggle-btn {
    display: none;
}

.dropdown {
    display: none;
    background-color: rgba(114, 9, 183, 0.8);
    position: fixed;
    z-index: 999;
    width: 260px;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 26px 26px 0 22px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.dropdown li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown li:first-child {
    justify-content: flex-end;
}

.dropdown li a {
    text-decoration: underline;
}

svg {
    fill: var(--warnaGold);
}


@media (max-width: 700px) {
    .links {
        display: none;
    }

    .toggle-btn {
        display: block;
    }
}